In [2]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:Randomx5@localhost:5432/olist_ecommerce')

customers =  pd.read_csv('data_csv/olist_customers_dataset.csv')
geolocation =  pd.read_csv('data_csv/olist_geolocation_dataset.csv')
order_items =  pd.read_csv('data_csv/olist_order_items_dataset.csv')
order_payments =  pd.read_csv('data_csv/olist_order_payments_dataset.csv')
order_reviews =  pd.read_csv('data_csv/olist_order_reviews_dataset.csv')
orders =  pd.read_csv('data_csv/olist_orders_dataset.csv')
products =  pd.read_csv('data_csv/olist_products_dataset.csv')
sellers =  pd.read_csv('data_csv/olist_sellers_dataset.csv')
translation =  pd.read_csv('data_csv/product_category_name_translation.csv')

### Row Counts, Column Names, Missing Values ###

In [ ]:
print(customers.info())
print(geolocation.info())
print(order_items.info())
print(order_payments.info())
print(order_reviews.info())
print(orders.info())
print(products.info())
print(sellers.info())
print(translation.info())

# Where there are missing values, we can see that we want to keep the rows.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None

In [ ]:
# Checking products with missing values
print(products[products['product_description_lenght'].isnull()])
#print(products[products['product_width_cm'].isnull()])

# Found 2 products with no values '5eb564652db742ff8f28759cd8d2652a'
# Checking orders with this product
#print(order_items[order_items['product_id'] == '5eb564652db742ff8f28759cd8d2652a'])
# Found around 600 orders with no product descriptions but with dimensions
# we will ignore for now and keep the rows, just keeping a note of it.

                             product_id product_category_name  \
105    a41e356c76fab66334f36de622ecbd3a                   NaN
128    d8dee61c2034d6d075997acef1870e9b                   NaN
145    56139431d72cd51f19eb9f7dae4d1617                   NaN
154    46b48281eb6d663ced748f324108c733                   NaN
197    5fb61f482620cb672f5e586bb132eae9                   NaN
...                                 ...                   ...
32515  b0a0c5dd78e644373b199380612c350a                   NaN
32589  10dbe0fbaa2c505123c17fdc34a63c56                   NaN
32616  bd2ada37b58ae94cc838b9c0569fecd8                   NaN
32772  fa51e914046aab32764c41356b9d4ea4                   NaN
32852  c4ceee876c82b8328e9c293fa0e1989b                   NaN

       product_name_lenght  product_description_lenght  product_photos_qty  \
105                    NaN                         NaN                 NaN
128                    NaN                         NaN                 NaN
145                    NaN                         NaN                 NaN
154                    NaN                         NaN                 NaN
197                    NaN                         NaN                 NaN
...                    ...                         ...                 ...
32515                  NaN                         NaN                 NaN
32589                  NaN                         NaN                 NaN
32616                  NaN                         NaN                 NaN
32772                  NaN                         NaN                 NaN
32852                  NaN                         NaN                 NaN

       product_weight_g  product_length_cm  product_height_cm  \
105               650.0               17.0               14.0
128               300.0               16.0                7.0
145               200.0               20.0               20.0
154             18500.0               41.0               30.0
197               300.0               35.0                7.0
...                 ...                ...                ...
32515            1800.0               30.0               20.0
32589             800.0               30.0               10.0
32616             200.0               21.0                8.0
32772            1300.0               45.0               16.0
32852             700.0               28.0                3.0

       product_width_cm
105                12.0
128                20.0
145                20.0
154                41.0
197                12.0
...                 ...
32515              70.0
32589              23.0
32616              16.0
32772              45.0
32852              43.0

[610 rows x 9 columns]

#### Missing Values Summary ####
- Optional Fields for Reviews, comment title and message
- Orders that are still being delivered, Descending null count from purchase to delivery

In [5]:
#check for duplicates
print(customers.duplicated().sum())
print(geolocation.duplicated().sum())
print(order_items.duplicated().sum())
print(order_payments.duplicated().sum())
print(order_reviews.duplicated().sum())
print(orders.duplicated().sum())
print(products.duplicated().sum())
print(sellers.duplicated().sum())
print(translation.duplicated().sum())

0
261831
0
0
0
0
0
0
0

In [ ]:
filtered_df = geolocation[geolocation['geolocation_zip_code_prefix'] == 1037]
print(filtered_df)
# Even within the same zip code, there are multiple geolocation entries.
# We can see that the geolocation data is not unique to the zip code prefix.
# We can preserve more information by keeping the geolocation data as is.

      geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                            1037       -23.545621       -46.639292
14                           1037       -23.545187       -46.637855
31                           1037       -23.546705       -46.640336
169                          1037       -23.543883       -46.638075
178                          1037       -23.546157       -46.639885
236                          1037       -23.543883       -46.638075
283                          1037       -23.545199       -46.637916
417                          1037       -23.545187       -46.637855
420                          1037       -23.546723       -46.640281
433                          1037       -23.546463       -46.640145
513                          1037       -23.545621       -46.639292
533                          1037       -23.545808       -46.639602
677                          1037       -23.545867       -46.639685
700                          1037       -23.544342       -46.638345
724                          1037       -23.543137       -46.637609
781                          1037       -23.543137       -46.637609
848                          1037       -23.546463       -46.640145
874                          1037       -23.544926       -46.638288
956                          1037       -23.546093       -46.639759
983                          1037       -23.545187       -46.637855
1003                         1037       -23.545199       -46.637916
1017                         1037       -23.546705       -46.640336
1050                         1037       -23.546463       -46.640145
1216                         1037       -23.546344       -46.639959
1345                         1037       -23.545187       -46.637855
1349                         1037       -23.545199       -46.637916

     geolocation_city geolocation_state
0           sao paulo                SP
14          s達o paulo                SP
31          s達o paulo                SP
169         s達o paulo                SP
178         sao paulo                SP
236         sao paulo                SP
283         sao paulo                SP
417         sao paulo                SP
420         sao paulo                SP
433         sao paulo                SP
513         sao paulo                SP
533         sao paulo                SP
677         sao paulo                SP
700         sao paulo                SP
724         s達o paulo                SP
781         sao paulo                SP
848         sao paulo                SP
874         sao paulo                SP
956         sao paulo                SP
983         sao paulo                SP
1003        sao paulo                SP
1017        sao paulo                SP
1050        sao paulo                SP
1216        sao paulo                SP
1345        sao paulo                SP
1349        sao paulo                SP

In [ ]:
# Check to see if we have all product translations.
print(len(translation['product_category_name'].unique()))
print(len(products['product_category_name'].unique()))
# we have more product categories than translations.

for product in products['product_category_name'].unique():
    if product not in translation['product_category_name'].unique():
        print(product)

# We can provide the extra translations in SQL
# portateis_cozinha_e_preparadores_de_alimentos: portable_kitchen_and_food_preparators

71
74
nan
pc_gamer
portateis_cozinha_e_preparadores_de_alimentos